* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Arial", serif;
}

#logo,
#links,
#blahblah {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#logo img {
  max-width: 100%;
  width: auto;
}

#blahblah {
  font-size: 24px;
  text-align: center;
  max-width: 1000px;
}

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
}

.button_link {
  font-family: "Arial", serif;
  font-size: 24px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  width: fit-content;
}

.discord_link img {
  width: 24px;
  margin-left: 6px;
  filter: invert(1);
  diplay: inline-block;
}

.discord_link:hover {
  background-color: #5865f2;
  border-color: #5865f2;
  color: white;
}

.discord_link:hover img {
  filter: invert(0);
}

.discord_link:active {
  background-color: black;
  color: white;
}

.discord_link:active img {
  filter: invert(0);
}

.eventbrite_link:hover {
  background-color: #f05537;
  border-color: #f05537;
  color: white;
}

.eventbrite_link:active {
  background-color: black;
  color: white;
}
