* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Arial", serif;
}

#logo,
#links,
#blahblah {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#logo img {
  max-width: 100%;
  width: auto;
}

#blahblah {
  font-size: 24px;
  text-align: center;
  max-width: 1000px;
}

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
}

#links a {
  font-family: "Arial", serif;
  font-size: 24px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
}

#links a img {
  filter: invert(1);
  width: 1em;
  margin-right: 0.4em;
  position: relative;
  top: 0.12em;
}

#links a:active img {
  filter: invert(0);
}

#links a:hover img {
  filter: invert(0);
}

#links .discord:hover {
  background-color: #5865f2;
  border-color: #5865F2;
  color: white;
}

#links .discord:active {
  background-color: black;
  color: white;
}

#links .discord img {
  width: 1.2em
}

#links .eventbrite:hover {
  background-color: #f05537;
  border-color: #f05537;
  color: white;
}

#links .eventbrite:active {
  background-color: black;
  color: white;
}

#links .eventbite img {
  width: 0.8em
}

#links .linkedin:hover {
  background-color: #0a66c2;
  border-color: #0a66c2;
  color: white;
}

#links .linkedin:active {
  background-color: black;
  color: white;
}

#links .bluesky:hover {
  background-color: #0085ff;
  border-color: #0085ff;
  color: white;
}

#links .bluesky:active {
  background-color: black;
  color: white;
}
